%h2 Leave your review
= simple_form_for [@product, @review], html: { class: 'form-horizontal' },
                                        validate: true do |f|
  - 1.upto(5).each do |n|
    = f.radio_button :rating, n, class: 'star required'
  = f.input :comment
  = f.submit
